* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: 'Montserrat', sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header {
  height: 60px;
}

.header__container {
  height: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  height: 15px;
}

.header__phone {
  margin-left: 45px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.header__phone-big {
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  color: #37373f;
  margin-left: 35px;
  display: none;
}

.header__phone-big span {
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  color: #b3b3b3;
}

.helicopter {
  padding-top: 140px;
  background-image: url(../img/helicopter-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -420px;
  min-height: 655px;
}

.helicopter__container {
  padding: 0 15px;
}

.helicopter__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  color: white;
  max-width: 265px;
}

.helicopter__title-span {
  color: #FC9B09;
}

.helicopter__btn {
  margin-top: 30px;
  background: transparent;
  color: white;
  border-radius: 5px;
  border: 2px solid white;
  width: 275px;
  height: 70px;
  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
}

.price {
  width: 200px;
  min-height: 85px;
  margin-top: 35px;
  background-color: #FC9B09;
  border-radius: 5px;
}

.price__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: white;
}

.price__text-span {
  font-size: 30px;
  font-weight: 800;
  line-height: 35px;
}

.price__percent {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  height: 47px;
  width: 47px;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 800;
  line-height: 45px;
}

.photosession {
  padding: 40px 0 0;
}

.photosession__container {
  padding: 0 15px;
}

.photosession__title {
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  color: #37373f;
  max-width: 175px;
  margin: 0 auto;
}

.photosession__img {
  margin-top: 15px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.photosession__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #37373f;
}

.services {
  margin-top: 25px;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 35px;
  background-repeat: no-repeat;
  background-position-y: center;
}

.services__item:nth-child(1) {
  background-image: url(../img/photosession-item-1.svg);
}

.services__item:nth-child(2) {
  background-image: url(../img/photosession-item-2.svg);
}

.services__item:nth-child(3) {
  background-image: url(../img/photosession-item-3.svg);
}

.services__item:nth-child(4) {
  background-image: url(../img/photosession-item-4.svg);
}

.services__text {
  max-width: 215px;
  margin-left: 45px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #37373f;
}

.services__item + .services__item {
  margin-top: 20px;
}

.rating {
  min-height: 70px;
  margin-top: 40px;
  border-top: 1px solid #C7C7C7;
  border-bottom: 1px solid #C7C7C7;
}

.rating__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating__text-wrapper {
  margin-left: 20px;
}

.rating__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.rating__text-span {
  font-weight: 500;
}

.photos {
  padding-top: 60px;
}

.photos__container {
  padding: 0 15px;
}

.photos__title {
  font-size: 26px;
  font-weight: 400;
  line-height: 32px;
  max-width: 175px;
  text-align: center;
  margin: 0 auto;
}

.photos__btn {
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  color: #5286ec;
  background: transparent;
  display: none;
  margin: 0 auto;
  margin-top: 45px;
}

.slider-photos__item {
  max-height: 185px;
  max-width: 277px;
}

.slider-photos__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-photos__item + .slider-photos__item {
  margin-left: 5px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about {
  padding: 60px 0 0;
}

.about__container {
  height: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}

.photografer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photografer__name {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 25px;
  color: #37373f;
}

.photografer__proffession {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #37373f;
}

.photografer__btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #5286ec;
  background: transparent;
  margin-top: 10px;
  max-width: 215px;
}

.organizer__title {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #37373f;
}

.organizer___text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 15px;
  color: #37373f;
}

.organizer__btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  color: #5286ec;
  background: transparent;
  margin-top: 20px;
}

.provide__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin-top: 30px;
  color: #37373f;
}

.provide__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 15px;
  color: #37373f;
}

.provide__btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  color: #5286ec;
  background: transparent;
  margin-top: 20px;
  margin-top: 20px;
}

.products {
  padding: 40px 0 0;
}

.products__container {
  padding: 0 15px;
}

.products__title {
  font-size: 26px;
  font-weight: 400;
  line-height: 32px;
  color: #37373f;
  max-width: 280px;
  text-align: center;
  margin: 0 auto;
}

.products__list {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products-list__day {
  border-bottom: 1px solid #c7c7c7;
  border-top: 1px solid #c7c7c7;
  min-height: 60px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #37373f;
}

.products-list__day-span {
  font-weight: 500;
}

.products-list__item {
  border-bottom: 1px solid #c7c7c7;
  min-height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products-list__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products-list__time {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #37373f;
}

.products-list__coast {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #37373f;
}

.products-list__places {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #37373f;
}

.products-list__btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #fc9b09;
  background: transparent;
  border: 2px solid #fc9b09;
  -ms-flex-item-align: start;
      align-self: flex-start;
  min-height: 50px;
  min-width: 130px;
  margin-top: 20px;
}

.products-list__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid #c7c7c7;
}

.map {
  padding: 45px 0 50px;
}

.map__container {
  padding: 0px 15px;
  margin: 0 auto;
  position: relative;
}

.map__iframe {
  height: 400px;
}

.meet {
  margin: 0 auto;
  border: 1px solid #c7c7c7;
  min-height: 380px;
}

.meet__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meet__circle {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background: #fc9b09;
  color: white;
  font-size: 30px;
  font-weight: 700;
  line-height: 44px;
}

.meet__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meet__title {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}

.meet__subtitle {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.person-meet {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.person-meet__img {
  height: 65px;
}

.person-meet__inner {
  max-width: 155px;
  margin-left: 20px;
}

.person-meet__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.person-meet__pofession {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.person-meet__btn {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #5286ec;
  background: transparent;
}

.feedback__container {
  height: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}

.feedback__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback__title {
  font-size: 26px;
  font-weight: 400;
  line-height: 39px;
  color: #37373f;
}

.feedback__item {
  margin-top: 55px;
  padding-bottom: 45px;
  border-bottom: 1px solid #C7C7C7;
}

.feedback__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__img {
  height: 85;
  width: 85;
}

.feedback__user-info {
  margin-left: 20px;
}

.feedback__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #37373f;
}

.feedback__prof {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #37373f;
}

.feedback__stars {
  margin-top: 5px;
}

.feedback__again {
  display: inline-block;
  margin-top: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #b3b3b3;
}

.feedback__text {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #37373f;
}

.feedback__time {
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #b3b3b3;
}

.feedback__btn {
  margin-top: 50px;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  color: #5286ec;
  background: transparent;
  -ms-flex-item-align: center;
      align-self: center;
}

.hidden-320 {
  display: none;
}

.footer__container {
  height: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__botom-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 576px) {
  .header__container {
    padding: 0px 35px;
  }

  .header__phone {
    display: none;
  }

  .header__phone-big {
    display: block;
  }

  .helicopter {
    padding-top: 150px;
    background-position-x: -280px;
  }

  .helicopter__container {
    padding: 0px 35px;
  }

  .photosession__container {
    padding: 0px 35px;
  }

  .photosession__text {
    font-size: 18px;
    line-height: 26px;
  }

  .photos__container {
    padding: 0px 35px;
  }

  .about__container {
    padding: 0px 35px;
  }

  .products__container {
    padding: 0px 35px;
  }

  .products-list__day {
    min-height: 75px;
  }

  .products-list__item {
    min-height: 130px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .products-list__btn {
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 0px;
  }

  .map__container {
    padding: 0px 35px;
  }

  .meet {
    max-width: 400px;
  }

  .feedback__container {
    padding: 0px 35px;
  }

  .hidden-320 {
    display: block;
  }

  .footer__container {
    padding: 0px 35px;
  }
}

@media (min-width: 768px) {
  .header {
    height: 100px;
  }

  .header__container {
    padding: 0px 50px;
  }

  .header__logo {
    height: 22px;
  }

  .helicopter {
    padding-top: 285px;
    background-position-x: -175px;
    min-height: 840px;
  }

  .helicopter__container {
    padding: 0px 50px;
  }

  .helicopter__title {
    font-size: 40px;
    line-height: 40px;
    max-width: 600px;
  }

  .helicopter__btn {
    font-size: 18px;
    line-height: 21px;
    width: 300px;
  }

  .price__text {
    font-size: 20px;
    line-height: 30px;
  }

  .price__text-span {
    font-size: 35px;
    line-height: 52px;
  }

  .photosession {
    padding: 50px 0 0;
  }

  .photosession__container {
    padding: 0px 50px;
  }

  .photosession__title {
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    max-width: 285px;
  }

  .photosession__img {
    margin-top: 40px;
  }

  .photosession__text {
    margin-top: 45px;
  }

  .photos {
    padding: 60px 0 25px;
  }

  .photos__container {
    padding: 0px 50px;
  }

  .photos__title {
    max-width: inherit;
    text-align: left;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
  }

  .photos__btn {
    display: block;
  }

  .slider-photos {
    display: grid;
    grid-template-columns: 275px 275px;
    grid-gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }

  .slider-photos__item + .slider-photos__item {
    margin-left: 0px;
  }

  .about {
    padding: 50px 0 50px;
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
  }

  .about__container {
    padding: 0px 50px;
  }

  .organizer___text {
    max-width: 585px;
  }

  .provide__text {
    max-width: 585px;
  }

  .products__container {
    padding: 0px 50px;
  }

  .products__title {
    text-align: left;
    margin: 0;
  }

  .map__container {
    padding: 0px 50px;
  }

  .feedback__container {
    padding: 0px 50px;
  }

  .footer__container {
    padding: 0px 50px;
  }
}

@media (min-width: 1280px) {
  .header__container {
    max-width: 1140px;
    padding: 0px 0px;
  }

  .header__icon-wrap {
    display: none;
  }

  .helicopter {
    background-position-x: 0px;
  }

  .helicopter__container {
    max-width: 1140px;
    padding: 0px 0px;
    margin: 0 auto;
  }

  .helicopter__title {
    max-width: 685px;
  }

  .price {
    margin-top: 30px;
  }

  .photosession__container {
    max-width: 1140px;
    padding: 0px 0px;
    margin: 0 auto;
  }

  .photosession__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .photosession__title {
    margin: 0;
  }

  .photosession__img-wrap {
    height: 370px;
    width: 550px;
  }

  .photosession__text {
    max-width: 550px;
  }

  .photos__container {
    max-width: 1140px;
    padding: 0px 0px;
    margin: 0 auto;
  }

  .slider-photos {
    display: grid;
    grid-template-columns: 275px 275px 275px 275px;
    grid-gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }

  .about {
    padding: 40px 0 50px;
  }

  .about__container {
    max-width: 1140px;
    padding: 0px 0px;
  }

  .about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .organizer__title {
    margin-top: 0px;
  }

  .products__container {
    max-width: 1140px;
    padding: 0px 0px;
    margin: 0 auto;
  }

  .products-list {
    max-width: 770px;
  }

  .products-list__day {
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
  }

  .products-list__item {
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
  }

  .products-list__rating {
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
  }

  .map__container {
    max-width: 1140px;
    padding: 0px 0px;
  }

  .map__iframe {
    min-height: 500px;
  }

  .meet {
    min-height: 420px;
    min-width: 470px;
    background-color: white;
    position: absolute;
    top: 40px;
    left: 0px;
  }

  .meet__item {
    margin-top: 45px;
    margin-left: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .meet__circle {
    margin-top: 0;
  }

  .meet__text-wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 20px;
  }

  .meet__title {
    margin-top: 0px;
  }

  .person-meet {
    margin: 50px 0 0 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .person-meet__inner {
    max-width: 280px;
  }

  .feedback__container {
    max-width: 1140px;
    padding: 0px 0px;
  }

  .feedback__item {
    max-width: 650px;
  }

  .footer__container {
    max-width: 1140px;
    padding: 0px 0px;
  }
}

@media (min-width: 1920px) {
  .helicopter {
    background-position-y: -260px;
  }
}